<div *ngIf="product">
    <mat-card-header>
        <mat-card-title>
            {{ product.title }}
        </mat-card-title>
        <mat-card-subtitle>
            Price: {{ product.price }}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-divider inset></mat-divider>
    <p></p>
    <mat-card-content *ngIf="product.description!=''" style="text-overflow: ellipsis; overflow-x: hidden;" >
        {{ product.description }}
    </mat-card-content>
    <mat-card-content *ngIf="product.image" style="padding: 12px;">
        <p></p>
        <img mat-card-image *ngIf="product.image" [src]="this.imgsrc+product.image">
    </mat-card-content>
</div>
