<div *ngIf="product">
    <mat-grid-tile-header>
        <mat-card-title>
            <h1 style="max-width: 200px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">{{ product.title }} &nbsp; </h1>
        </mat-card-title>
        <mat-card-subtitle style="color: white">
            <h4>CHF {{ product.price }}</h4>
        </mat-card-subtitle>
    </mat-grid-tile-header>
    <p></p>
    <mat-card-content style="text-overflow: ellipsis; overflow-x: hidden; margin-top: 15px; margin-left: 10px; max-height: 205px" >
         <p *ngIf="product.description!=''" > {{ product.description }} </p>
         <br>
         <img *ngIf="product.image" [src]="this.imgsrc+product.image" style="height: 120px; width: auto">
    </mat-card-content>
</div>
