<mat-sidenav-container style="
position: absolute;
top: 0px;
bottom: 0px;
left: 0;
width: 300px">
  <mat-sidenav #sidenav mode="side" opened="true" style="
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* background: rgba(255, 0, 0, 0.5); */
  ">
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-card>
      <mat-card-content>
        <span>
          Insert something useful here
        </span>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-sidenav-container style="
position: absolute;
right: 0;
width: 300px">
  <mat-sidenav #sidenav mode="side" opened="true" style="
  /* display: flex; */
  align-items: center;
  justify-content: center;
  ">
  </mat-sidenav>
  <mat-sidenav-content *ngIf="user" style="text-align: center;">
    <app-profile [user]="user"></app-profile>
  </mat-sidenav-content>
  <mat-sidenav-content style="text-align: center;">
    <app-user></app-user>
  </mat-sidenav-content>
</mat-sidenav-container>

<div style="min-height: 500px;">
<mat-card *ngIf="user" style="max-width: 600px;">
  <mat-card-header>
    <div mat-card-avatar
      style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); background-size: cover">
    </div>
    <mat-card-title>
      New Post
    </mat-card-title>
    <mat-card-subtitle>
      by {{ this.user.username }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-divider inset></mat-divider>
  <p></p>
  <mat-card-content>
    <mat-form-field style="width: 100%;">
      <input matInput type="text" placeholder="Title" name="title" [(ngModel)]="newPost.title">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%;">
      <textarea matInput type="text" placeholder="Text" name="text" [(ngModel)]="newPost.text"></textarea>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="newPost.category">
      <mat-option value="Theory">Theory </mat-option>
      <mat-option value="Proof">Proof </mat-option>
      <mat-option value="Meme"> Meme </mat-option>
    </mat-select>
    </mat-form-field>


  </mat-card-content>

  <mat-card-actions style="text-align: right;">
    <input style="display: none" type="file" (change)="onFileSelected($event)" #fileInput>
    <button mat-icon-button (click)="fileInput.click()">
      <mat-icon>image</mat-icon>
    </button>
    <button mat-flat-button color="primary" (click)="createPost()">Create</button>
  </mat-card-actions>
  <mat-card-content *ngIf="postingMsg !== ''" style="color:red">
    {{ postingMsg }}
  </mat-card-content>
</mat-card>
<mat-card *ngFor="let post of posts.reverse()" style="max-width: 600px;">
  <app-post [post]="post"></app-post>
  <mat-card-actions>
    <button mat-icon-button (click)="upvote(post)" *ngIf="this.user && post.myVote !== 1">
      <mat-icon>thumb_up</mat-icon>
    </button>
    <button mat-icon-button (click)="downvote(post)" *ngIf="this.user && post.myVote !== -1">
      <mat-icon>thumb_down</mat-icon>
    </button>
    <button mat-icon-button (click)="neutralvote(post)" *ngIf="this.user && post.myVote !== 0">
      <mat-icon>thumbs_up_down</mat-icon>
    </button>
    {{ post.vote }}
    <button mat-icon-button (click)="prepareEdit(post)" *ngIf="(this.user?.isAdmin || post.userId == this.user?.userId)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="edit(post)" *ngIf="((this.user?.isAdmin || post.userId == this.user?.userId) && editArray[0] == post)">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button (click)="deletePost(post)" *ngIf="this.user?.isAdmin || post.userId == this.user?.userId">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-content *ngIf="editArray[0] == post">
    <mat-form-field style="width: 100%;">
      <input matInput type="text" placeholder="Title" name="title" [(ngModel)]="post.title">
    </mat-form-field>
    <br>
    <mat-form-field style="width: 100%;">
      <textarea matInput type="text" placeholder="Text" name="text" [(ngModel)]="post.text"></textarea>
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="selectedCategory">
        <mat-option value="Theory">Theory </mat-option>
        <mat-option value="Proof">Proof </mat-option>
        <mat-option value="Meme"> Meme </mat-option>
      </mat-select>
    </mat-form-field>
    <p>You selected: {{selectedCategory}}</p>

  </mat-card-content>
</mat-card>
<mat-card *ngIf="posts.length === 0">
  No posts available.
</mat-card>
</div>
