<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <h1>Triangle Earth Society</h1>
    </span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group style="align-items: right;">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>home</mat-icon>
    </ng-template>
    <div style="box-sizing: border-box; display: flex; justify-content: center;">
      <app-board [user]="user"></app-board>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>shop</mat-icon>
    </ng-template>
    <div style="box-sizing: border-box; display: flex; justify-content: center;">
      <app-shop [user]="user"></app-shop>
    </div>
  </mat-tab>
  <mat-tab label="Orders">
    <div style="box-sizing: border-box; display: flex; justify-content: center;">
      <app-dashboard></app-dashboard>
    </div>
  </mat-tab>
  <mat-tab *ngIf="user?.isAdmin" label="Admin Zone">
    <div style="box-sizing: border-box; display: flex; justify-content: center;">
      <app-adminDashboard [user]="user"></app-adminDashboard>
    </div>
  </mat-tab>
</mat-tab-group>
