<div *ngIf="post">
    <mat-card-header>
      <div mat-card-avatar
           style="background-image: url('http://localhost:3000/images/user.jpg'); background-size: cover">
      </div>
        <mat-card-title>
            {{ post.title }}
        </mat-card-title>
        <mat-card-subtitle>
            by {{ post.username }}
            from {{ post.category}}
        </mat-card-subtitle>


    </mat-card-header>
    <mat-divider inset></mat-divider>
    <p></p>
    <mat-card-content *ngIf="post.text!=''" style="text-overflow: ellipsis; overflow-x: hidden;" >
        {{ post.text }}
    </mat-card-content>
    <mat-card-content *ngIf="post.image" style="padding: 12px;">
        <p></p>
        <img mat-card-image *ngIf="post.image" [src]="this.imgsrc+post.image">
    </mat-card-content>
</div>
