<div *ngIf="order">
    <mat-card-header>
        <!-- <div mat-card-avatar
            style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); background-size: cover">
        </div> -->
        <!-- <mat-card-title>
            {{ order }}
        </mat-card-title> -->
        <!-- <mat-card-subtitle>
        </mat-card-subtitle> -->
    </mat-card-header>
    <mat-divider inset></mat-divider>
    <p></p>
    <mat-card-content>
        {{ order }}
    </mat-card-content>
    <!-- <mat-card-content *ngIf="post.image" style="padding: 12px;">
        <p></p>
        <img mat-card-image *ngIf="post.image" [src]="this.imgsrc+post.image">
    </mat-card-content> -->
</div>
